/*ASPECTOS GERAIS*/

@font-face { 
    font-family: "Trueno"; src: url("//db.onlinewebfonts.com/t/0b6a7936d259e148a39c3ee5eccdafc1.eot"); src: url("//db.onlinewebfonts.com/t/0b6a7936d259e148a39c3ee5eccdafc1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b6a7936d259e148a39c3ee5eccdafc1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b6a7936d259e148a39c3ee5eccdafc1.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b6a7936d259e148a39c3ee5eccdafc1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b6a7936d259e148a39c3ee5eccdafc1.svg#Trueno") format("svg"); 
}

@font-face {
    font-family: "TruenoBold"; src: url("//db.onlinewebfonts.com/t/217c0801001f4d1124dc869546937df7.eot"); src: url("//db.onlinewebfonts.com/t/217c0801001f4d1124dc869546937df7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/217c0801001f4d1124dc869546937df7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/217c0801001f4d1124dc869546937df7.woff") format("woff"), url("//db.onlinewebfonts.com/t/217c0801001f4d1124dc869546937df7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/217c0801001f4d1124dc869546937df7.svg#Trueno") format("svg"); 
}

:root {
    --cor-principal: #279e72;
}

html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}
p,a,ul, span {
    font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'TruenoBold';
    font-weight: bolder;
}

/*CABEÇALHO*/

header { /*Cabeçalho*/
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 8.5vh;
    width: 100vw;
    height: 8.5vh;
    background-color: var(--cor-principal);
    box-shadow: 0px 0px 20px #546d6494;
}
header div { /*Div para ocupar espaço*/
    display: none;
}
header #logo { /*Logo turistando*/
    width: 22vh;
    display: block;
    transition: opacity 0.4s;
    margin: auto 12px ;
}
header #logo:hover {
    opacity: 0.5;
}
header #button-menu { /*Imagem do menu hamburguer*/
    display: none;
}
header ul { /*Menu*/
    list-style: none;
    margin: auto;
    color: white;
    padding: 0;
    margin-right: 20px;
}
header a {  /*Links do menu*/
    color: white;
}
header li {
    font-size: 10pt;
    float: left; 
    margin-right: 18px;
    transition: all 0.7s;
    padding: 8px;
    border-radius: 30px;
}
header li:hover {
    cursor: pointer;
    color: var(--cor-principal);
    background: white;
}

/*PAGINA DA APRESENTAÇÃO*/

section#ap { /*Wallpaper de fundo do home*/
    background-image: url(../imagens/background.png);
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 20px #546d64;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
#titulo { /*Frase principal*/
    font-size: calc(2em + 4vw);
    color: white;
    margin-top: 28vh;
    margin-left: 12px;
    text-shadow: 0px 0px 20px #546d64;
}
#ap img { /*Imagem do home - Ilustração*/
    margin: 20px auto;
    width: 50em;
}

/*BOTÃO QUE DIRECIONA PARA O TOPO*/

#topo { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #279e72;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #279e728c;
    z-index: 5;
    transition: all 0.5s;
}
#topo:hover {
    opacity: 0.7;
}
#topo a img {
    display: flex;
    width: 30px;
}