h2 { /*Nome das regiões*/
    font-size: calc(2em + 2vw);
    color: #546d64;
    margin-top: 50px;
    text-align: center;
    transition: all 0.4s;
}
h2:hover {
    opacity: 0.5;
}
.linha { /*Linhas*/
    display: flex;
    justify-content: center;
}
#rmr {
    width: 80vw;
    margin: auto;
}

/*Parte dos quadrados*/

.quadrado { /*Quadrados dos lugares*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.150);
    width: 23vw;
    height: 100%vh;
    margin: 15px;
    border-radius: 30px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.quadrado h3 { /*Nome da cidade*/
    font-size: 16pt;
    color: #546d64;
    margin-top: 20px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.galeria { /*Foto do lugar + setas para próxima foto*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nextPhoto { /*Setinha para proxima foto*/
    width: 26px;
    margin: auto;
    cursor: pointer;
    transition: opacity 0.4s;
}
.nextPhoto:hover {
    opacity: 0.5;
}
.quadrado img.fotoLugar { /*Foto do lugar*/
    display: block;
    width: 12em;
    transition: all 0.3s;
}
.quadrado p {
    color: #546d64;
    font-size: 11pt;
    text-align: justify;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
}
.textoOpen {
    display: block;
}

/*Div com o botao do lugar e do saiba mais*/

#place-and-more {
    display: flex;
    align-items: center;
    margin: 20px auto;
}
#place-and-more div {
    width: 18px;
    height: 18px;   
    padding: 8px;
    margin-right: 8px;

    display: flex;

    background: url('../imagens/icons/place-green.svg') no-repeat;
    background-position: center;
    background-size: 19px;

    border-radius: 50%;
    border: 1px solid var(--cor-principal);

    transition: all 0.4s;
}
#place-and-more div:hover {
    background: url('../imagens/icons/place-white.svg') no-repeat;
    background-position: center;
    background-size: 19px;
    background-color: var(--cor-principal);
}
#place-and-more .button-mais { /*Botão saiba mais*/
    cursor: pointer;
    padding: 8px;
    border: 1px solid var(--cor-principal);
    border-radius: 30px;
    transition: all 0.4s;
    margin: 0;
}
.button-mais:hover {
    color: white;
    background-color: var(--cor-principal);
}
