/*UMA REGIÃO POR VEZ - Mobile*/


@media screen and (max-width: 1000px) { 

    /*HEADER*/

    header {
        position: fixed;
        box-sizing: border-box;
        grid-template-rows: 8.5vh;
        grid-template-columns: 50vw 50vw;
        
        transition: height 0.4s;
    }
    .open-menu { /*Classe para abrir o menu*/
        height: auto;
        grid-template-rows: 8.5vh auto;
    }
    header #logo {
        margin-left: 10px;
    }
    header #logo:hover {
        opacity: 1;
    }
    header #button-menu { /*Menu hamburguer*/
        cursor: pointer;
        display: block;
        width: 30px;
        margin: auto;
        margin-right: 10px;
    }
    header div {
        display: block;
    }
    header ul {
        display: block;
        padding: 0;
        margin: 10px;
        width: 90%;
    }
   
    header ul li {
        text-align: right;
        width: 45vw;
        background-color: white;
        color: #279e72;
        margin: 4px auto;
        border-radius: 30px;
        box-sizing: border-box;
        transition: all 0.3s;
    }
    header ul li:hover {
        padding: 12px;
    }

    /*APRESENTAÇÃO INICIAL*/

    section#ap {
        display: grid;
        grid-template-columns: 1fr;       
    }
    #ap img { /*Ilustração principal*/
        margin: auto;
        width: 100%;
    }
    #titulo { /*Titulo geral e inicial*/
        margin-left: 10px;
    }

    /*EXPLICANDO PROJETO*/

    #explicando { /*Toda a sec*/
        width: 80vw;
        height: 100%;
        margin: 45px auto;
        display: grid;
        grid-template-columns: 1fr;
        overflow: auto;
    }
    #explicando h2 {
        font-size: 2em;
    }
    #explicando img {
        width: 75vw;
        margin: auto;
        margin-top: 35px;
        justify-content: center;
        align-items: center;
    }
    #explicando div#divmaior {
        margin: 12px auto;
    }
    #explicando div#divmenor {
        width: 73vw;
        height: 100%;
    }
    #explicando div#divmenor h2 {
        width: 100%;
    }
    #explicando div#divmenor h2:hover {
        opacity: 1;
    }
    #explicando div#divmenor p {
        font-size: 85%;
        line-height: 20px;
    }

    /*REGIÕES*/

    .linha {
        display: block;
    }
    .quadrado {
        width: 80vw;
        height: 100%;
        margin: 45px auto;
    } 
    .quadrado p {
        height: 100%;
    }
    section h2 { /*Nomes das regiões*/
        margin: auto;
        width: 80vw;
    }

    /*TRILHAS*/

    #trilhas {
        width: 80vw;
    }
    #content {
        width: 80vw;
        height: auto;
    }

    #line-one {
        display: grid;
        grid-template-columns: 1fr;
    }
    #line-one img {
        width: 75vw;
        margin-top: 25px;
    }
    #line-one p {
        width: 90%;
        text-align: justify;
    }


    #line-two {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #line-two div {
        margin-bottom: 15px;
    }

    .text-small-mobile {
        font-size: 10pt;
    }

    /*AVISOS*/

    #avisos {

        display: flex;
        justify-content: center;
        width: 80vw;
    }

    /*FOOTER*/

    footer {
        height: 40vh;
        overflow-y: hidden;
    }
    footer ul {
        top: 60vh;
    }
    footer img#logofooter:hover {
        opacity: 1;
    }
}
/*TELAS GRANDES*/

@media screen and (min-width: 1400px) {
    #ap img {
        margin: 10vw auto;
        width: 60vw;
    }
}